<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style>
        body {
            min-width: 320px;
            max-width: 320px;
            background-color: rgb(0, 162, 255);
            margin: 0;
        }
    </style>
</head>

<body>
    <article class="modal" style="">

        <section class="modal__main">
            <section class="modal__primary ">
                <div class="modal__title">
                    <span calss="modal__name">Name: </span>
                    <input class="modal__input">
                </div>
                <div class="modal__subtitle modal__title_subtitle">
                    <span><b>Cost:</b></span> <input class="modal__input modal__input_sub"> <span> <i
                            class="fas fa-ruble-sign"></i></span>
                </div>
            </section>
            <section class="modal__secondary">

                    <select class="modal-platform-select" value="">
                        <option value="windows"></option>
                        <option value="steam"></option>
                        <option value="xbox"></option>
                        <option value="linux"></option>
                        <option value="apple"></option>
                        <option value="playstation"></option>
                        <option value="nintendo-switch"></option>
                    </select>
   
                <label>
                        <input class="platform-checker" type="checkbox" value="all">
                        <i class="far fa-check-circle"></i>
                </label>
                <label>
                    <input class="platform-checker" type="checkbox" value="windows">
                    <i class="fab fa-windows"></i>
                </label>
                <label>
                    <input class="platform-checker" type="checkbox" value="steam">
                    <i class="fab fa-steam"></i>
                </label>
                <label>
                    <input class="platform-checker" type="checkbox" value="xbox">
                    <i class="fab fa-xbox"></i>
                </label>
                <label>
                    <input class="platform-checker" type="checkbox" value="linux">
                    <i class="fab fa-linux"></i>
                </label>
                <label>
                    <input class="platform-checker" type="checkbox" value="apple">
                    <i class="fab fa-apple"></i>
                </label>
                <label>
                    <input class="platform-checker" type="checkbox" value="playstation">
                    <i class="fab fa-playstation"></i>
                </label>
                <label>
                    <input class="platform-checker" type="checkbox" value="nintendo-switch">
                    <i class="fab fa-nintendo-switch"></i>
                </label>




            </section>
        </section>

        <section class="modal__icons">
            <div class="modal__action-icon">
                    <i class="fas fa-ban"></i>
            </div>
            <div class="modal__action-icon">
                    <i class="fas fa-arrow-circle-right"></i>
            </div> 
        </section>

    </article>

    <article class="modal">
            <section class="modal__main">
                <section class="modal__primary ">
                    <div class="modal__title">
                        Vote the game
                    </div>
                    <div class="modal__subtitle modal__title_subtitle">
                        Game name
                    </div>
                </section>
                <section class="modal__secondary stars-wrap">
                    <i class=" fa-star fas"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </section>
            </section>
    
            <section class="modal__icons">
                <div class="modal__action-icon">
                        <i class="fas fa-ban"></i>
                </div>
                <div class="modal__action-icon">
                        <i class="fas fa-arrow-circle-right"></i>
                </div> 
            </section>
    </article>

    <article class="modal">
            <section class="modal__main">
                <section class="modal__primary ">
                    <div class="modal__title">
                        Game name
                    </div>
                    <div class="modal__subtitle modal__title_subtitle">
                        This game edit now with another admin
                    </div>
                </section>
            </section>
    
            <section class="modal__icons">
                <div class="modal__action-icon">
                        <i class="fas fa-ban"></i>
                </div>
            </section>
    </article>

    <article class="modal">
            <section class="modal__main">
                <section class="modal__primary ">
                    <div class="modal__title">
                        Game name
                    </div>
                    <div class="modal__subtitle modal__title_subtitle">
                        Are you shure to 'some' this game?
                    </div>
                </section>
            </section>
    
            <section class="modal__icons">
                <div class="modal__action-icon">
                        <i class="fas fa-ban"></i>
                </div>
                <div class="modal__action-icon">
                        <i class="fas fa-arrow-circle-right"></i>
                </div> 
            </section>
    </article>
    
    <article class="modal">
            <section class="modal__main">
                <section class="modal__primary ">
                    <div class="modal__title">
                        Congratulations
                    </div>
                    <div class="modal__subtitle modal__title_subtitle">
                        do something
                    </div>
                </section>
            </section>
    
            <section class="modal__icons">
                <div class="modal__action-icon">
                        <i class="fas fa-arrow-circle-right"></i>
                </div> 
            </section>
    </article>

    <div class="templatforms">
        <i class="fab fa-windows"></i>
        <i class="fab fa-steam"></i>
        <i class="fab fa-xbox"></i>
        <i class="fab fa-linux"></i>
        <i class="fab fa-apple"></i>
        <i class="fab fa-playstation"></i>
        <i class="fab fa-nintendo-switch"></i>
    </div>

    <button id="open-modal" style="position: absolute; top: 75%; left: 50%; height: 25px; width: 80px""></button>
    <section id='modal-wrapper' class="modal_hiden"></section>

    <script type="module">
        import {ModalsEngine} from './modal.js';
        
        let modals = new ModalsEngine( document.querySelector('#modal-wrapper') );
        let game = {
            id: '20',
            title: 'Dota 2',
            price: 2000,
            platform: [/*'windows',*/'steam','linux','playstation','xbox','apple','nintendo-switch']
        }
        document.querySelector('#open-modal').addEventListener('click', event => {
            modals.showEditModal(game);
        });
        

        //console.log(modals.editModal);
    </script>
</body>

</html>